
<%- include ("partials/header.ejs") %>
<div class="container">
    <blockquote class="blockquote">
        <h1>Pipeline Generation Process</h1>
        <p> Pipeline generation, also known as lead generation, is the process of building and maintaining a sales pipeline of potential leads interested in buying your product or service.
        The goal is simple: to nurture these interested folks so that they decide to buy from you and ultimately, drive revenue. </p>
    </blockquote>

    <blockquote class="blockquote">
        <h2>Aligning sales and marketing</h2>
        <p> Aligning a sales and marketing team’s goals throughout an organization can be difficult, mainly when the company is large.
            Without an understanding of what drives qualified leads and opportunities, the marketing team cannot tailor its efforts to reach a similar audience. The same goes for the sales team. If the sales team can't track where leads are coming from, they might be missing out on opportunities to personalize their pitch and convert more customers. </p>
    </blockquote>

    <blockquote class="blockquote">
        <h2>Identify your ideal customer profile</h2>
        <p> Before generating leads, it’s essential to know exactly who you want them from. This will help ensure that your marketing efforts reach the right people at all stages in the buying process.
            You can begin this by creating a buyer persona. A buyer persona is a fictional character that represents your ideal customer. It could be a single individual or group with similar characteristics and behaviors. You can use this persona to help you create content and messaging that resonates with your target audience and define your buyer personas’ journey through the sales funnel. </p>
    </blockquote>

    <blockquote class="blockquote">
        <h2>Lead nurturing</h2>
        <p> Lead nurturing is engaging with a prospect to help them reach a point where they are ready to buy. It can include everything from newsletters and emails to sending out informative content that builds trust with those potential customers.
            Lead nurturing is all about communicating with your prospects in a way that makes them feel like they know you while also providing them with helpful information that keeps their interest at peak levels.
            But properly nurturing leads through the sales process can be time-consuming and requires a deep understanding of customer behavior and preferences. </p>
    </blockquote>

    <img src="images/salesleadgenerationprocess.png" class="img-fluid" alt="...">


    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h2 class="card-text">Analysis and planning</h2>
                  <p class="card-text">Defining your goals is the first step to generating leads. List the outcomes you want to achieve and the KPIs you’ll use to measure progress..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-text">Research</h2>
                  <p class="card-text">Research is crucial in the lead generation process. You need to understand where your best leads are coming from and how to find more.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                    <h2 class="card-text">Message</h2>
                  <p class="card-text">Create your message. Potential leads should feel like your content is speaking directly to them regardless of where they find it.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col">
            <div class="card shadow-sm">    
              <div class="card-body">
                <h2 class="card-text">Reach-Out</h2>
                <p class="card-text">Send emails and make phone calls: It could take a month, year, or longer to convert some leads into customers, but calls and emails remind them that your product or service exists.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col">
        <div class="card shadow-sm">    
          <div class="card-body">
            <h2 class="card-text">Reporting</h2>
            <p class="card-text">Evaluate results and create reports: Create reports that show the number of emails sent, emails opened, and unsubscribe requests. Try to pinpoint where leads go cold and how to change your messaging to keep their interest longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


    
    
    <p></p>
</div>
<%- include('partials/footer.ejs') %>